// Import SCSS files before any other rules
@use "../sass/pages/index.scss" as *;
@use "../sass/pages/home.scss" as *;
@use "../sass/pages/schedule.scss" as *;
@use "../sass/pages/events.scss" as *;
@use "../sass/pages/register.scss" as *;
@use "../sass/pages/certificate.scss" as *;

@use "../sass/components/navbar.scss" as *;
@use "../sass/components/about.scss" as *;
@use "../sass/components/eventIntro.scss" as *;
@use "../sass/components/countdown.scss" as *;
@use "../sass/components/registerCounter.scss" as *;
@use "../sass/components/eventSchedule.scss" as *;
@use "../sass//components/faq.scss" as *;

:root {
  --primary: #1c1c1c;
  --secondary: #ffffff;
  --accent: #4B70F5;
  --accent-dark: #3e5db2;
  --base: #5a5a5a;
  --counter: #e94560;
  --background: #f4f4f4;
  --border-radius: 8px;
  --input-border-color: #ccc;
  --hover-opacity: 0.8;
  --border-radius: 8px;
}

@font-face {
  font-family: "Aeonik";
  src: url(../../public/fonts/Aeonik-Medium.woff2);
  src: url(../../public/fonts/Aeonik-Regular.woff2);
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: visible;
  scroll-behavior: smooth;
}

body {
  color: var(--primary);
  background: var(--secondary);
  font-family: "Aeonik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}


//lenis

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}