.aboutSection {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;

  .aboutContainer {
   // background: red;
    height: 70%;
    width: 80%;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    

    .aboutContent {
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap: 1.2rem;
        z-index: 3;

        .aboutTitle {
           font: 600 2.5rem/1.5 Inter;
            color: var(--primary);
        }
        
        .aboutPara {
            font: 400 1.2rem/1.5 Inter;
            color: var(--base);
            text-align: justify;
        }
    }

    .aboutImg {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        
        img {
            object-fit: cover;
            border-radius:1.2rem;
        }
    }
  }
}

.animatedSvg {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    filter: blur(80px);
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    position: absolute;
    top: -10;
    left: -20;
    z-index: 0;
}


@media screen and (max-width: 768px) {
    .aboutSection {
        .aboutContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            margin-top: 2rem;

            & > .aboutContent {
                justify-content: flex-end;
                align-items: center;
                .aboutTitle {
                    font: 600 2rem/1.5 Inter;
                    text-align: center;
                }

                .aboutPara {
                    font: 400  1rem/1.5 Inter;
                    padding: 0 1.5rem;
                }
            }

            & > .aboutImg {

                & > img {
                    height: 400px;
                    width: auto;
                    
                }
            }

        }
    }
}