.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--secondary);
  padding: 20px;
  flex-wrap: wrap; // Allows elements to stack on smaller screens

  .countdown-box {
    text-align: center;
    background-color: rgb(229, 229, 229);
    padding: 15px;
    border-radius: 8px;
    width: 120px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(1.1);
    }

    .countdown-value {
      font-family: 'Aeonik', sans-serif;
      display: block;
      font-size: 2.5rem;
      font-weight: bold;
      color: var(--counter);
    }

    .countdown-label {
      font: 400 1.2rem/1.5 Inter;
      font-size: 0.9rem;
      color: var(--base);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 768px) {
  .countdown-container {
    gap: 10px; 
    padding: 15px;
  }

  .countdown-box {
    width: 100px;
    padding: 10px;

    .countdown-value {
      font-size: 2rem;
    }

    .countdown-label {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 480px) {
  .countdown-container {
    gap: 8px;
    padding: 10px;
  }

  .countdown-box {
    width: 90px;
    padding: 8px;

    .countdown-value {
      font-size: 1.8rem;
    }

    .countdown-label {
      font-size: 0.7rem;
    }
  }
}
