.eventIntroSection {
    height: 100vh;
    width: 100%;
    background-color: var(--secondary);
    display: grid;
    place-content: center;

    & > .eventIntroContainer {

         & > .eventIntroContent {

            & > .eventIntroTitle {
                font: 600 2.5rem/1.5 Inter;
            }

         }
    }
}